* {
  margin: 0;
  padding: 0;
}

#header {
  height: 100vh;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
}
.container {
  margin-right: 100px;
  margin-left: 100px;
}

.logo {
  width: 150px;
  height: 150px;
  margin-left: -50px;
  margin-top: 20px;
}

.header-text {
  margin-top: 140px;
  font-family: sans-serif;
  font-size: 34px;
  max-width: 350px;
  color: white;
}

.text {
  max-width: 350px;
  color: white;
  margin-bottom: 40px;
}

.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #8db600;
}

.common-btn {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 1px solid #8db600;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 60px;
}

p {
  font-size: 15;
  line-height: 18px;
}

.line-1 {
  width: 15px;
  height: 15px;
  background: #8db600;
  display: inline-block;
}

.line-2 {
  width: 80px;
  height: 1px;
  background: #8db600;
  display: inline-block;
}

.line-3 {
  width: 60px;
  height: 1px;
  background: #8db600;
  display: inline-block;
}

.line {
  line-height: 8px;
}

#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #8db600;
  transition: 0.5s;
}

nav ul li {
  list-style: none;
  margin: 50px 20px;
}

nav ul li a {
  text-decoration: none;
}

#menuBtn {
  width: 50px;
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
}

/*----about----*/

#about {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  height: 100vh;
  background-image: url(images/about_us_background.png);
  background-position: center;
  background-size: cover;
}

.about-left-col {
  flex-basis: 50%;
}

.about-left-col img {
  width: 100%;
}

.about-right-col {
  margin-right: -600px;
  flex-basis: 50%;
  text-align: right;
}

.about-text {
  color: black;
  font-family: sans-serif;
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
}

.quoted-text {
  margin: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
}

.quote-author {
  margin: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
  color: #797979;
}

/*-----features-----*/

#features {
  height: 100vh;
  height: 100%;
  width: 100%;
  background-image: url();
  background-position: center;
  background-size: cover;
  padding-top: 50 px;
  padding-bottom: 50px;
}

.feature-row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature-col {
  flex-basis: 25%;
  text-align: center;
}

.feature-col img {
  width: 100px;
}

.feature-col h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

.feature-btn {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 1px solid #8db600;
  font-weight: bold;
  cursor: pointer;
}

.feature {
  margin: 80px auto 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.feature .line {
  text-align: right;
  display: inline-block;
  margin-right: 25px;
}

/*----Programs----*/

#programs {
  padding: 100px 0;
}

.program-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.program-left-col {
  flex-basis: 50%;
}

.program-right-col {
  flex-basis: 50%;
}

.program-right-col img {
  width: 100%;
}

.program-text {
  color: black;
}

.course-btn {
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 1px solid #8db600;
  font-weight: bold;
  cursor: pointer;
}

/*----Footer----*/

#footer {
  padding: 50px 0 30px;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #f67c92;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left-col {
  flex-basis: 50%;
  margin-top: 60px;
}

.footer-right-col {
  flex-basis: 35%;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-title h4 {
  color: #fab3c4;
  margin-bottom: 20px;
}

.link-title small {
  font-size: 13px;
  color: #777;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-btn {
  color: black;
}
